/* reset style */
*{
margin: 0;
padding: 0;
}

/* Har bedt den lave alle mine px enheder om til REM 
så det er derfor der måske er nogle mærkelige REM mål */

/* styling the body selector with a background image */
body{
    min-height: 6.25rem;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 4.0625rem;
}

#index-page {
    background: url('../img/kvinde-med-krøller.png') no-repeat center center fixed;
    background-size: cover;
}

nav{
    background-color: rgb(250, 209, 231); 
    box-shadow: 0.1875rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Styling unordered list container */
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* styling unordered list-items */
nav li{
    height: 4.0625rem;
}

/* styling anchor tags inside nav container */
nav a {
    height: 100%;
    padding: 0rem 1.875rem;
    text-decoration: none; 
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

blockquote {
    font-style: italic;
    padding: 3.125rem;
    max-width: 31.25rem;
    color: #f9f9f9;
    font-size: 5rem;
    position: absolute;
    top: 4.0625rem;
    right: 2.5rem;
    text-align: right;
}

blockquote span {
    font-size: 1.5625rem;
}

/* styling hover effect on anchor tags */
nav a:hover{
    color: rgb(3, 56, 39);
}

/* Inserting the logo */
nav img{
    height: 100%;
    width: 100%;  
    display: flex;
    align-items: center;
}


.dropdown {
    position: relative;
    display: inline-block;
    z-index: 999;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 12.5rem;
    background-color: rgb(255, 247, 251); 
    font-size: 0.9375rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
   display: flex;
   align-items: center;
   align-content: center;
   height: 3.125rem;
   width: auto;
}

.dropdown-content a {
    margin: 0.625rem 0; 
    color: rgb(3, 56, 39);
}

html {
    scroll-behavior: smooth;
}
section {
    padding: 2.5rem 12.5rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    
}

section h1 {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

section p {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

section img {
    margin: 1.25rem auto;
    border: 0.625rem solid  rgb(250, 209, 231);
    border-radius: 0.1875rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
    height: 31.25rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
   
}
/* For at få nav baren til ikke at dække overskrifterne på de individuelle sider */
[id]::before {
    content: "";
    display: block;
    height: 3.125rem;
    visibility: hidden;
}